.nav-items .navLinks{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.nav-items .navLinks:hover{
    background-color: rgba(0, 0, 0, 0.055);
}
.moreBtn{
    border-radius: 10px;

}
.moreBtn:hover{
   
    background-color: rgba(0, 0, 0, 0.055);
}